.circle-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
  touch-action: none !important;
  background: linear-gradient(to bottom, #575def, #202731);
}
  
.circle-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  touch-action: none !important;
  background: radial-gradient(circle, #4960b2, #282e3e);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}